*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.main-header{
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100
}



main{
    margin-top: 255px;
}


.hamburger-buttom{
    background-color: #085fbc;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}


.logo{
    width: 200px;
    
}
.box-search-bar {
    margin-right: 20px;
    align-self: center;
}


/* barra de busqueda oculta*/

.box-search-bar input{
    
    position: relative;
    border-radius:  5px 0 0 5px;
    font-size: 16px;
    outline: none;
    border-style: none;
    height: 40px;
    width: 150px;
}
.box-search-bar button{
    border-style: none;
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    position: absolute;
}

.box-search-bar button:hover{
    transition: 450ms;
    background-color: rgb(207, 207, 207);
}



/* Compra en cuotas y sin tarjeta de credito */
.copy-header{
    width: 100%;
    font-weight: 500;
    text-align: center;
}

/* nav oculto */
.main-navbar{
display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.home-banner{
    display: flex;
    justify-content: center;
    background-color: rgb(210, 210, 210);
    display: none;
}
.home-banner img{
    width: 100%;
    max-width: 1000px;
}

.precio{
    font-size: 18px;
    margin: 0;
    margin-top: 2px;
    margin-right: 5px;
}
.descuento{
    font-size: 16px;
    margin-left: 5px;
    margin-top: 3px;
    color: #39b54a;

}

/* Icon Truck */
.circle-truck{
    width: 35px;
    height: 35px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
}

.fa-truck{
    position: absolute;
    color: #39b54a;
    left:10px;
    bottom: 10px;
}
.circle-truck:hover{
    transform: rotate(-90deg);
    transition: all 450ms;
}
.nombre-de-producto{
    font-size: 16px;
    margin-top: 2px;
    width: 100%;
}

/*------------*/

.titulo{
    text-align: center;
}

.producto {
    margin: 10px;
    width: 250px;
    padding: 10px;
    background-color: #ebebeb;
    box-shadow: 0px 0px 8px rgb(157, 157, 157);
    transition: all 450ms;
    border-radius: 5px;
    cursor: pointer;
}

.producto:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    opacity: 1;
}



.producto img{
    width: 230px;

}

.info{
    display: flex;
} 

/*------------*/
.section-3-footer{
    text-align: center;
    margin-top: 20px;
}
.section-3-footer  i {
color: #085fbc;
font-size: 2rem;
margin-bottom: 10px;
}

.section-3-footer  i:hover {
    color: #0022AA;
    transition: 450ms;
    }
.section-3-footer h2, .section-3-footer i{
cursor: pointer;
    }
footer{
    text-align: center;
}

.section-1, .section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width:769px) {
    .main-navbar{
        display:block;
        }
        .main-header-top-bar{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between; 
        }
        .logo{
            margin: 14px 0;
        }
        .box-search-bar input{
            width: 250px;
        }
        .copy-header{
            max-width: 250px;
            width: 33%;
            text-align: end;
            padding-left: 5px;
        }
        .hamburger-buttom{
            display: none;
        }
        .main-navbar{
            display: flex;
            justify-content: space-between;
        }
        .main-navbar ul{
            display: flex;
        }
        .main-navbar li{
            /* separa cada lista */
            margin: 0 5px;
        }
        .main-navbar i {
            margin-left: 5px;
        }
        .home-banner{
            display: flex;
        }
        .section-3-footer{
            display: flex;
            justify-content: center;

        }
        .box-footer{
            width: 350px;
            margin: 0 45px;
        }
        main{
            margin-top: 148px;
        }   
    }

@media(min-width:250px){
    main{
        margin-top: 180px;
    }
}





/* ---------------------------LOGIN------------------------------ */

/* form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

} */

.main-form{
    margin-top: 250px;
}

.create-form{
    padding: 20px 15px;
    margin:50px auto;
    width: 50%; 
    max-width: 600px; 
    box-shadow: 0px 0px 8px rgb(157, 157, 157);
    transition: all 450ms;
    border-radius: 10px;
}
.control-form{
    margin-bottom: 15px;
}
.create-form:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    opacity: 1;
}
.control-form label{
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.control{
    width: 100%;
    height: 30px;
    font-size: 16px;
    transition: 450ms;
    border: 1px solid;
    border-radius: 5px;
}

.control:hover{
    background-color: #c4c4c48c;
    outline: none;
}
.button-form{
    background-color:#0867cd;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 450ms;
}

.button-form:hover{
    background-color: #094e98;
}


@media (min-width:769px) {
    .create-form{
        display: flex;
        justify-content: space-around;
    }
    .title-form{
        width: 200px;
        margin-right: 20px;
    }
    .control-form{
        width: 200px;
    }
    .main-form{
        margin-top: 200px;
    }

}
