<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Ingresar</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <!--iconos-->
        <script src="https://kit.fontawesome.com/652fa8b29d.js" crossorigin="anonymous"></script>
        <!--font family-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    </head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/home">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre" class="logo">
            </a>

        <div class="box-search-bar">
            <input type="text" placeholder="Buscar productos, marcas y más...">
            <button>
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </button>
        </div>

    <h2 class="copy-header">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Compra en cuotas y sin tarjeta de credito
    </h2>
</div>

        <a href="" class="hamburger-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>

    <nav class="main-navbar">
        <ul class="left-navbar"> 
            <li>
                <a href="">Ofertas</a>
            </li>
            <li>
                <a href="">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="">Vender</a>
            </li>
            <li>
                <a href="">Ayuda</a>
            </li>
        </ul>
        
        <ul class="right-navbar">
            <li>
                <a href="/register">Creá tu cuenta</a>
                <i class="fa-solid fa-user"></i>
            </li>
            <li>
                <a href="/login">Igresá</a>
                <i class="fa-solid fa-right-to-bracket">
                </i>
            </li>
            <li>
                <a href="">Mis Compras</a>
                <i class="fa-solid fa-cart-shopping">
                </i>
            </li>
        </ul>
    </nav>
</header>
<main class="main-form">
<form action="/login" method="post" class="create-form">

<div class="title-form">
    <h1>Completá los datos para crear tu cuenta</h1>
</div>
<div class="form-desktop">
<div class="control-form">
    <label for="email">E‑mail</label>
    <input type="email" name="email" class="control">
</div>
<div class="control-form">
    <label for="email">Contraseña</label>
    <input type="password" name="password" class="control">
</div>
<button type="reset" class="button-form">Cancelar</button>
<button type="submit" class="button-form">Confirmar</button>
</div>
</form>

</main>
</body>
</html>