<header class="main-header">
    <div class="main-header-top-bar">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre" class="logo">
                </a>
            <div class="box-search-bar">
                <input type="text" placeholder="Buscar productos, marcas y más...">
                <button>
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                </button>
            </div>

        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de credito
        </h2>
    </div>
    
    <a href="" class="hamburger-buttom">
        <i class="fa-solid fa-bars"></i>
    </a>

<nav class="main-navbar">
    <ul class="left-navbar"> 
        <li>
            <a href="">Ofertas</a>
        </li>
        <li>
            <a href="/">Tiendas Oficiales</a>
        </li>
        <li>
            <a href="/products/create">Vender</a>
        </li>
        <li>
            <a href="">Ayuda</a>
        </li>
    </ul>
    
    <ul class="right-navbar">
        <li>
            <a href="/register">Creá tu cuenta</a>
            <i class="fa-solid fa-user"></i>
        </li>
        <li>
            <a href="/login">Igresá</a>
            <i class="fa-solid fa-right-to-bracket">
            </i>
        </li>
        <li>
            <a href="">Mis Compras</a>
            <i class="fa-solid fa-cart-shopping">
            </i>
        </li>
    </ul>
</nav>
</header>