<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <!--iconos-->
    <script src="https://kit.fontawesome.com/652fa8b29d.js" crossorigin="anonymous"></script>
    <!--font family-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>